#mainFrame {
	width:1080px;
	height:1280px;
	margin:0 auto;
}



#mainFrame2 {
	position:relative;
	width:1080px;
	height:960px;
	margin:0 auto;
	background:#38393b;
}





#innerFrame {
	position:relative;
	width:1000px;
	height:800px;
	background:#444444;
	margin:0 auto;
	border:0px;
	cursor:pointer;
}
#innerFrame .prev{
	position:absolute;
	margin-left:60px;
	margin-top:260px;
	z-index:999;
}
#innerFrame .next{
	position:absolute;
	margin-left:900px;
	margin-top:260px;
	z-index:999;
}
#innerFrame .anyClass {
	width:1000px;
	height:600px;
	margin:0 auto;
}


















