@charset "utf-8";

.content{
}
.slide{
	position:relative;
	margin:0 auto;
}
.slide div{
	position:relative;
	display:none;
	float:left;
}
.slide div img{
	position:relative;
}
.slide .choice{
	position:relative;
	display:block;
}
.PrevAndNext{
	position:absolute;
	width:100%;
	height:120px;
	line-height:120px;
}
.prev{
	position:relative;
	float:left;
	width:55px;
	height:85px;
	line-height:85px;
	display:block;
	background:url(../images/index/prev.png);
	
}
.next{
	position:relative;
	float:right;
	width:55px;
	height:85px;
	line-height:85px;
	display:block;
	background:url(../images/index/next.png);
	
}
.quickChange{
	position:absolute;
	width:100%;
	height:30px;
	line-height:30px;
}
.quickChange ul{
	position:relative;
	width:120px;
	margin:0 auto;
	height:15px;
}
.quickChange ul li{
	position:relative;
	float:left;
	width:40px;
}
.quickChange ul li a{
	position:relative;
	display:block;
	margin:0 auto;
	width:13px;
	height:13px;
	background:#ffffff;
	border:1px solid #e60505;
	border-radius:10px;
}
.quickChange ul li.choiceimage a{
	position:relative;
	width:13px;
	height:13px;
	background:#e60505;
}