@charset "utf-8";
/* CSS Document */

.content{
	position:relative;
	margin:0 auto;
	width:1000px;
	margin-top:20px;
	margin-bottom:20px;
	/*background:url(../images/common/bg.jpg);*/
}
.content p img{
	position:relative;
}
.title{
	height:120px;
}
.title img{
	position:relative;
	float:right;
	margin-top:20px;
	margin-right:200px;
	height:61px;
	width:140px;
}
.info{
	position:relative;
	width:1000px;
	margin:0 auto;/*
	background:#ff0000;*/
}
.info ul{
	position:relative;
	margin:0 auto;
	width:720px;
	height:240px;
	margin-top:60px;
}
.info ul li{
	position:relative;
	width:120px;
	height:120px;
	float:left;
	background:#ff0000;
}
.info ul li a{
	width:120px;
	height:120px;
	display:block;
}
.info ul li a img{
	width:120px;
	height:120px;
	display:block;
}