@charset "utf-8";
/* CSS Document */

.content{
	position:relative;
	margin:0 auto;
	width:1000px;
	height:560px;
}
.title{
	height:80px;
}
.title img{
	position:relative;
	float:right;
	margin-top:20px;
	margin-right:200px;
	height:61px;
	width:140px;
}
.info{
	position:relative;
	width:1000px;
	margin:0 auto;/*
	background:#ff0000;*/
}

.info > div{
	position:relative;
	width:450px;
	height:400px;
	float:left;
}
.leftmap h3{
	position:relative;
	margin-left:80px;
	line-height:80px;
}
.info h3 img{
	position:relative;
	width:12px;
	height:12px;
	background:#ff0000;
	border:0px;
}
.info h3 a{
	color:#333333;
	padding-left:15px;
}
.info .leftmap ul li a{
	color:#666666;
	font-size:14px;
}
.leftmap ul{
	position:relative;
	
}
.solutionmap ul{
	position:relative;
	margin-left:108px;
}
.solutionmap ul li{
	line-height:30px;
}
.productmap div{
}
.productmap div ul li{
	line-height:30px;
	float:left;
	margin-left:20px;
}
.leftproductmap{
	position:relative;
	background:#f0f0f0;
	width:200px;
	margin-left:87px;
}
.rightproductmap{
	width:175px;
}
.innerLine{
	position:relative;
	margin-left:70px;
	width:1px;
	height:100px;
	background:#666666;
}
.rightmap ul{
	margin-left:80px;
}
.rightmap ul li{
	line-height:80px;
}
.info a:hover{
	color:#ff0000;
}
.info .leftmap ul li a:hover{
	color:#ff0000;
}